@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Gujarati", sans-serif;
}

main {
  overflow: hidden;
}

.fw-bold {
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: #156e19;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: rgb(141, 106, 18);
  border-radius: 5px;
}

.fondoPrincipalIndex {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3647058824), rgba(0, 0, 0, 0.3647058824)), url("../Assets/img/casa/casa_fondo(4).jpeg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.fondoPrincipalIndex .tituloPrincipalIndex {
  color: white;
  font-size: 60px;
  font-family: "Rochester", cursive;
}
.fondoPrincipalIndex .captionPrincipalIndex {
  color: white;
  font-size: 30px;
}

.fondoCards {
  height: 400px;
}
.fondoCards .card-img-top {
  margin-top: 2rem;
  height: 30%;
  width: 130px;
  -o-object-fit: content;
     object-fit: content;
  border-radius: 7px;
}
.fondoCards .card-body {
  padding-top: 0.4rem;
}
.fondoCards .card-body .card-title {
  text-align: center;
  font-size: 30px;
  font-family: "Rochester", cursive;
}
.fondoCards .card-body .card-text {
  font-size: 16px;
  width: 285px;
  height: 100px;
}
.fondoCards .btnCardsIdex {
  color: white;
  font-size: 16px;
  background-color: rgb(141, 106, 18);
  border: 1px solid rgb(141, 106, 18);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondoCards .btnCardsIdex:hover {
  background-color: rgb(12, 145, 83);
  border-color: rgb(12, 145, 83);
}

.textoIntroduccionIndexDiv {
  margin-top: 1.3rem;
  background-color: #3e5521;
}
.textoIntroduccionIndexDiv .textoIntroduccionIndex {
  height: 300px;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 4rem;
  padding-right: 4rem;
}
.textoIntroduccionIndexDiv .textoIntroduccionIndex .btnIntroduccionIndex {
  color: white;
  font-size: 16px;
  background-color: rgb(141, 106, 18);
  border: 1px solid rgb(141, 106, 18);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.textoIntroduccionIndexDiv .textoIntroduccionIndex .btnIntroduccionIndex:hover {
  background-color: rgb(12, 145, 83);
  border-color: rgb(12, 145, 83);
}
.textoIntroduccionIndexDiv .imgIntroduccionIndex {
  height: 300px;
}
.textoIntroduccionIndexDiv .imgIntroduccionIndex img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 75%;
  width: 75%;
  border: 2px solid rgba(255, 255, 255, 0.582);
  border-radius: 7px;
}
.textoIntroduccionIndexDiv .imgIntroduccionIndex img .cuadradoIndex {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.664);
  width: 200px;
  height: 100px;
  position: absolute;
  left: 10px;
  top: 180px;
}
.textoIntroduccionIndexDiv .imgIntroduccionIndex img .cuadradoIndex2 {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.664);
  width: 200px;
  height: 70px;
  position: absolute;
  right: 3rem;
  top: 20px;
}

.carouselOpiniones1 {
  height: 55vh;
  width: 100%;
  align-items: center;
}
.carouselOpiniones1 .carouselOpinionesIndex {
  background-color: white;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}
.carouselOpiniones1 .carouselOpinionesIndex .parrafoOpinionesIndex {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .carouselOpiniones1 {
    height: 70vh;
  }
  .carouselOpiniones1 .carouselOpinionesIndex .parrafoOpinionesIndex {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.divSectionVideoHistoria .SectionVideoHistoria {
  height: 350px;
}
.divSectionVideoHistoria .historiaH1 {
  font-family: "Rochester", cursive;
  font-size: 60px;
}

.bgNuestroProposito {
  background-color: #3e5521;
}
.bgNuestroProposito .parrafoProposito {
  padding-left: 40px;
}
.bgNuestroProposito h2 {
  font-family: "Rochester", cursive;
  font-size: 60px;
}
.bgNuestroProposito .imgPropositoHistoria .imgSectionHistoria {
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid white;
  padding: 15px;
  height: 280px;
  width: 95%;
  margin-top: 0;
}

.imgRivera {
  width: 300px;
  height: 300px;
  padding: 4px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .divSectionVideoHistoria {
    flex-direction: column-reverse;
  }
  .parrafoProposito {
    padding-left: 20px;
  }
  .divImgRivera {
    flex-direction: column;
  }
}
.tituloServicios {
  font-family: "Rochester", cursive;
  font-size: 60px;
}

.bgHabitaciones, .bgPasadia {
  background-color: #783d19;
  color: white;
}
.bgHabitaciones .imgHabitacionesServicios, .bgPasadia .imgHabitacionesServicios, .bgHabitaciones .bgEventos .imgHabitacionesServicios1, .bgPasadia .bgEventos .imgHabitacionesServicios1, .bgEventos .bgHabitaciones .imgHabitacionesServicios1, .bgEventos .bgPasadia .imgHabitacionesServicios1 {
  width: 300px;
  height: 300px;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border-right: 2px solid rgba(255, 255, 255, 0.308);
}

.bgEventos {
  background-color: white;
}
.bgEventos .imgHabitacionesServicios1 {
  border-right: 2px solid rgba(156, 150, 150, 0.445);
}

.btnServicios {
  color: white;
  font-size: 16px;
  background-color: #3e5521;
  border: 1px solid #3e5521;
  width: 200px;
  height: 40px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnServicios:hover {
  background-color: rgb(12, 145, 83);
  border-color: rgb(12, 145, 83);
  color: white;
}

.beneficios h3 {
  font-family: "Rochester", cursive;
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .imgServicios {
    flex-direction: column;
  }
  .bgHabitaciones .imgHabitacionesServicios, .bgPasadia .imgHabitacionesServicios, .bgHabitaciones .bgEventos .imgHabitacionesServicios1, .bgEventos .bgHabitaciones .imgHabitacionesServicios1, .bgPasadia .bgEventos .imgHabitacionesServicios1, .bgEventos .bgPasadia .imgHabitacionesServicios1 {
    border-right: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.308);
  }
  .bgEventos .imgHabitacionesServicios1 {
    border-right: 0;
    border-bottom: 2px solid rgba(156, 150, 150, 0.445);
  }
}
.tituloPrincipalGaleria {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3647058824), rgba(0, 0, 0, 0.3647058824)), url("../Assets/img/casa/casa_fondo (2).jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  color: white;
  font-size: 60px;
  font-family: "Rochester", cursive;
}

.conocenosHabitaciones h2 {
  font-size: 35px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat auto-fit, minmax(300px, 1fr);
  grid-auto-rows: 150px;
  grid-template-areas: "per2 per2 per4 per" "prin2 prin3 per4 per" "prin2 prin3 prin6 prin6" "prin2 prin3 prin6 prin6" "prin prin per3 per8" "prin prin per3 per8";
  gap: 7px;
}

.galeriaImagenes_5per2 {
  grid-area: per2;
}

.galeriaImagenes_5per4 {
  grid-area: per4;
}

.galeriaImagenes_5per {
  grid-area: per;
}

.galeriaImagenes_prin {
  grid-area: prin;
}

.galeriaImagenes_prin3 {
  grid-area: prin3;
}

.galeriaImagenes_prin6 {
  grid-area: prin6;
}

.galeriaImagenes_7per3 {
  grid-area: per3;
}

.galeriaImagenes_4per {
  grid-area: per8;
}

.galeriaImagenes_prin2 {
  grid-area: prin2;
}

.galeria_img, .galeria_img2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.galeria2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat auto-fit, minmax(300px, 1fr);
  grid-auto-rows: 150px;
  grid-template-areas: "png2 piscina piscina parque" "png2 piscina piscina parque" "png6 png8 png4 png9" "png6 png8 png4 png9" "png11 png15 fon1 fon1" "png11 png15 fon1 fon1";
  gap: 7px;
}

.galeriaCasa_1 {
  grid-area: fon1;
}

.galeriaCasa_png2 {
  grid-area: png2;
}

.galeriaCasa_png4 {
  grid-area: png4;
}

.galeriaCasa_png8 {
  grid-area: png8;
}

.galeriaCasa_png9 {
  grid-area: png9;
}

.galeriaCasa_png15 {
  grid-area: png15;
}

.galeriaCasa_parque {
  grid-area: parque;
}

.galeriaCasa_piscina {
  grid-area: piscina;
}

.galeriaCasa_png6 {
  grid-area: png6;
}

.galeriaCasa_png11 {
  grid-area: png11;
}

@media screen and (max-width: 768px) {
  .galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    grid-template-areas: "per2" "per4" "per" "prin" "prin2" "prin3" "prin6" "per3" "per8";
  }
  .galeria2 {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    grid-template-areas: "fon1" "png2" "png4" "png8" "png9" "png15" "parque" "piscina" "png6" "png11";
  }
}
.fondoPrincipalContacto {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5490196078), rgba(0, 0, 0, 0.5490196078)), url("../Assets/img/casa/casa_piscina_fondo.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-bottom: 30px;
}
.fondoPrincipalContacto .tituloPrincipalContacto {
  color: white;
  font-size: 60px;
  font-family: "Rochester", cursive;
}
.fondoPrincipalContacto .captionPrincipalContacto {
  color: white;
  font-size: 30px;
}

.btnFormulario {
  background-color: rgb(141, 106, 18);
  border-color: rgb(141, 106, 18);
}
.btnFormulario:hover {
  background-color: rgb(12, 145, 83);
  border-color: rgb(12, 145, 83);
}

.beneficios h2 {
  font-size: 30px;
  font-family: "Rochester", cursive;
}

.logosImagenes {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .tituloPrincipalContacto {
    font-size: 40px;
  }
  .fondoPrincipalContacto .captionPrincipalContacto {
    font-size: 20px;
  }
}
@keyframes rotarsilla {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(120deg);
  }
  90% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(120deg);
  }
}
@keyframes cartelpeligro {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.diverror {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.diverror .divH {
  height: 400px;
}
.diverror .divH .h1Error {
  font-size: 380px;
  height: 400px;
  margin-bottom: 0;
  color: rgba(128, 128, 128, 0.616);
}
.diverror .divImgError {
  filter: drop-shadow(0 10px 7px rgba(0, 0, 0, 0.342));
}
.diverror .divImgError img {
  width: 100%;
  height: 300px;
  animation: rotarsilla 3s forwards;
  animation-timing-function: ease-in-out;
}
.diverror .imgPeligro {
  position: absolute;
  left: 360px;
  height: 400px;
  width: 600px;
  opacity: 0;
  animation: cartelpeligro 1s linear forwards;
  animation-delay: 3s;
}

@media screen and (max-width: 768px) {
  .diverror {
    height: 250px;
  }
  .diverror .divH .h1Error {
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .diverror .divImgError img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .diverror .imgPeligro {
    width: 400px;
    left: 30px;
  }
}
@keyframes flotar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0PX);
  }
}
.bgFooter {
  background-color: #3e5521;
  width: 100%;
}
.bgFooter .divRedesFooter {
  gap: 20px;
}
.bgFooter .divRedesFooter .imgRedesSocialesFooter {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bgFooter .divRedesFooter .imgRedesSocialesFooter:hover {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  animation-name: flotar;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.bgFooter .contenedorFooter {
  width: 100%;
}
.bgFooter .contenedorFooter .btnMasInformacionFooter {
  display: flex;
  width: 200px;
  height: 40px;
  background-color: rgb(141, 106, 18);
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.bgFooter .contenedorFooter .btnMasInformacionFooter:hover {
  background-color: rgb(12, 145, 83);
  border-color: rgb(12, 145, 83);
}

@media screen and (max-width: 768px) {
  .bgFooter .contenedorFooter {
    flex-direction: column-reverse;
  }
  .bgFooter .contenedorFooter .informacionFooter {
    line-height: 15px;
  }
}/*# sourceMappingURL=estilos.css.map */