.fw-bold{
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link{
    color: #156e19;
    &:hover{
        color: #ffffff;
    background-color: rgb(141, 106, 18);
    border-radius: 5px;
    }
}