$titulos:(
    fuente: 60px,
    fuente2: 30px,
    color: white,    
);
$colores:(
    botones-hover:rgb(12, 145, 83),
    botones-cafe:rgb(141, 106, 18),
    fondo-verde:#3e5521,
    color-fuente-botones:white,
    fondo-blanco:white,
);
$object-fit: cover;
$border-radius: 7px;
$fontfamily: 'Rochester', cursive;
$width-completo: 100%;
$fuente-normal: 16px;
$height-trescientos: 300px;